<div ng-controller="RetailController">
    <div>
        {{ message }}
    </div>
    <div ng-repeat="chain in chains">
        <div>
            {{ chain.name }}
        </div>
        <div>
            {{ chain.description }}
        </div>
        <div>
            {{ chain.slogan }}
        </div>
        <div>
            {{ chain.founded_date }}
        </div>
        <div>
            {{ chain.website }}
        </div>
    </div>
</div>